.categoryList {
  display: flex;
  flex-wrap: wrap;
  gap: 20px 30px;
  margin: 0;
  padding: 0;
}

.categoryList.asLink {
  justify-content: center;
}

.categoryListItem {
  list-style: none;
}


.categoryContent {
  cursor: pointer;
  display: block;
  text-decoration: none;
  color: black;
  padding: 10px 20px;
  font-size: 2rem;
  font-weight: 400;
  background-color: #dbeede;
  border: 1px solid var(--color-green1);
}

.button {
  font-size: 1.6rem;
}

.current {
  background-color: #fac0b1;
  border: 1px solid #fac0b1;
}

.activeIndicator {
  padding-top: 8px;
  border-bottom: 1px solid var(--color-purple);
}
