.header {
  display: flex;
  flex-flow: wrap;
  justify-content: left;
}

.header svg {
  height: 2.7rem;
}

.header h1 {
  margin: 2rem;
}

header.root {
  justify-content: center;
}

header.root svg {
  height: 5rem;
}

.header.root h1 {
  margin: 10rem 4rem 8rem;
}

.separator {
  width: 100%;
  border-bottom: 1px solid var(--color-purple);
}
