@media (min-width: 768px) {
  .quadrantGrouping {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  .quadrantGrouping > div {
    height: 25rem;
  }
}

@media (max-width: 768px) {
  .quadrantGrouping {
    display: flex;
    flex-direction: column;
    gap: 3rem;
  }
}

.quadrantsWrapper {
  display: flex;
  flex-direction: column;
  gap: 3rem;
}
