.footerWrapper {
  display: grid;
  justify-content: center;
  border-top: 1px solid var(--color-green1);
  border-bottom: 3px solid var(--color-purple);
  color: var(--color-green1);
  background-color: var(--color-fg);
}

.footer {
  display: grid;
  grid-template-columns: minmax(15rem, 1fr) 10fr auto;
  justify-items: left;
  padding: var(--container-padding) var(--container-padding);
  gap: 30px;
  max-width: var(--container-max-width);
}

.footer a {
  color: var(--color-green1);
}

.footer a:hover {
  color: var(--color-green2);
}

.footer li {
  margin-bottom: 8px;
}

.footer ul {
  padding: 0;
  margin: 12px 0 0;
  list-style: none;
}

.socialMediaIcons {
  display: flex;
  flex-direction: row;
  justify-self: end;
  gap: 20px;
}

.languages {
  justify-self: center;
}

@media screen and (max-width: 768px) {
  .footer {
    grid-template-rows: auto;
    padding: var(--container-padding-xs) var(--container-padding-xs);
  }

  .footer .socialMediaIcons {
    flex-direction: column;
  }
}
