.filtersWrapper {
  display: flex;
  flex-wrap: wrap;
  grid-gap: 1rem;
  justify-content: flex-start;
  align-items: baseline;
}

.filterOptionsWrapper {
  display: flex;
  flex-wrap: wrap;
  gap: 0.5rem;
  row-gap: 1rem;
  align-items: center;
}

.filterLabel {
  flex: 0 0 13rem;
  font-size: 1.6rem;
}
