.wrapper {
  display: flex;
  flex-direction: column;
  background-color: var(--color-fg);
  border: 1px solid var(--color-green1);
  height: auto;
  overflow-y: hidden;
}

.toggleButtonWrapper {
  border: 1px solid var(--color-green1);
}

.toggleButton {
  all: unset;
  cursor: pointer;
  border: 1px solid var(--color-green1);
}

.toggleButton:hover {
  box-shadow: 0px 0px 1px 2px var(--color-purple) inset;
}

@media (min-width: 768px) {
  .wrapper {
    max-height: 23rem;
  }
  .wrapper.quadrandExpanded {
    max-height: fit-content;
  }
}

.headingWrapper {
  display: flex;
  align-items: center;
  gap: 10px;
  position: relative;
  top: -1px;
  left: -1px;
}

.titleWrapper {
  color: var(--color-green1);
  padding: 10px;
  display: flex;
  align-items: baseline;
  grid-gap: 1rem;
}

@media (max-width: 768px) {
  .titleWrapper {
    grid-template-columns: auto;
  }
}

.descriptionWrapper {
  display: flex;
  flex: auto;
  justify-content: space-between;
  gap: 1rem;
  padding-right: 1.5rem;
}

@media (max-width: 768px) {
  .descriptionWrapper {
    justify-content: end;
  }
}

.titleExpanded {
  color: var(--color-purple);
}

.closeButton {
  display: grid;
  grid-template-columns: auto auto;
  text-align: right;
  cursor: pointer;
  align-items: center;
  grid-gap: 1rem;
  cursor: pointer;
}

@media (max-width: 768px) {
  .closeButtonText {
    display: none;
  }
}

.quadrantTitle {
  padding: 0;
  margin: 0;
  font-weight: 400;
  display: inline;
  font-size: 2.4rem;
}

@media (max-width: 768px) {
  .description {
    display: none;
  }
}

.description {
  padding: 0;
  margin: 0;
}

.quadrantList {
  padding: 0 15px;
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

.quadrantListItem {
  padding: 5px;
  border-radius: 4px;
  display: block;
  background-color: rgba(75, 100, 85, 0.2);
  list-style: none;
}

.activeListItem {
  border: 1px solid var(--color-green2);
  background: var(--color-green2);
  color: var(--color-bg);
}

.quadrantListItem.description {
  border: 1px solid var(--color-border);
  cursor: pointer;
}

@media (min-width: 768px) {
  .quadrant_0 {
    border-right: 4px solid var(--color-green1) !important;
    border-bottom: 4px solid var(--color-green1) !important;
  }
  .quadrant_1 {
    border-left: 4px solid var(--color-green1) !important;
    border-bottom: 4px solid var(--color-green1) !important;
  }

  .quadrant_2 {
    border-right: 4px solid var(--color-green1) !important;
    border-top: 4px solid var(--color-green1) !important;
  }

  .quadrant_3 {
    border-left: 4px solid var(--color-green1) !important;
    border-top: 4px solid var(--color-green1) !important;
  }
}
