.title {
  color: var(--color-green1);
  text-align: center;
}

.title,
.description {
  text-align: center;
}

@media (min-width: 768px) {
  .subTitle {
    display: block;
  }
}

.description {
  margin: 4rem 0;
  line-height: 1.5;
  font-size: 1.5rem;
}

.categoryWrapper {
  padding: 4rem;
  background-color: var(--color-fg);
}

.categoryWrapper > * {
  padding: 0 4rem;
}
